body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.bar {
    height: 18px;
    background: green;
}

/* corusel*/
.wrap {
    width: 50%;
    background-color: #e7e7e7;
}

.karkas {
    width: 470px;
   /* background-color: #e6e6e6;*/
    border-radius: 10px;
    margin:0px auto;
    height: 90%;
    text-align: center;
    padding:30px 10px 0px 10px;
}

ul.lightSlider li {
    background-color: #0aa3c9;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    /*padding:10px;*/
}

.lslide img {
    width:470px;
}
